
#loginModal.modal.fade.hide
  .modal-header
    a.close(data-dismiss="modal") x
    h3 LOGIN
  .modal-body
    p 
      a(href="/auth/github") sign in with Github
  .modal-footer
    a.btn.btn-primary(href="#", data-dismiss="modal") Close

.navbar.navbar-fixed-top
  .navbar-inner
    .container-fluid
      a.btn.btn-navbar(data-toggle="collapse", data-target=".nav-collapse")
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.brand Nodeboard
      .nav-collapse
        ul.nav
          li.active
            a Chat
          li
            a Contact
          li
            a Library
      - if (!everyauth.loggedIn)
        p.navbar-text.pull-right
          a(data-toggle="modal", href="#loginModal") Login
      - else
        p.navbar-text.pull-right
          span= everyauth.github.user.name

.container-fluid
  .row-fluid
    .span3
      .well.sidebar-nav
        ul.nav.nav-list
          li.nav-header Contents
          li
            a Forum
          li
            a Library
          li.nav-header Settings
          li
            a Help
    .span9
      .hero-unit
        h1 ぬるぽ
        p これはぬるぽコンテンツです
        p
          a.btn.btn-primary.btn-large(href="https://github.com/misty-rc/nodeboard") Learn more >>
      .row-fluid
        .span4
          h2 ぬ
          p "Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui."


        .span4
          h2 る
          p "Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui."
        .span4
          h2 ぽ
          "Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui."