!!! 5
html
  include includes/header
  body
    #loginModal.modal.fade.hide
      .modal-header
        a.close(data-dismiss="modal") x
        h3 LOGIN
      .modal-body
        p
          a.zocial.github(href="/auth/github")
            span sign in with Github
        p
          a.zocial.twitter(href="/auth/twitter")
            span sign in with Twitter
        p
          a.zocial.facebook(href="/auth/facebook")
            span sign in with Facebook
      .modal-footer
        a.btn.btn-primary(href="#", data-dismiss="modal") Close
    
    #settingModal.modal.fade.hide
      .modal-header
        a.close(data-dismiss="modal") x
        h3 SETTING
      .modal-body
        p facebook
          a.btn.btn-success Link
        p github
          a.btn.btn-danger Unlink
      .modal-footer
        a.btn.btn-primary(href="#", data-dismiss="modal") Close
    
    .navbar.navbar-fixed-top
      .navbar-inner
        .container-fluid
          a.btn.btn-navbar(data-toggle="collapse", data-target=".nav-collapse")
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.brand Nodeboard
          .nav-collapse
            ul.nav
              li
                a Chat
              li
                a Contact
              li
                a Library
            - if (!everyauth.loggedIn)
              p.navbar-text.pull-right
                a(data-toggle="modal", href="#loginModal") Login
            - else
              ul.nav.pull-right
                li.divider-vertical
                li.dropdown
                  a(href="#", class="dropdown-toggle", data-toggle="dropdown")
                    - if (everyauth.twitter)
                      span #{everyauth.twitter.user.name}
                    - if (everyauth.github)
                      span #{everyauth.github.user.name}
                    - if (everyauth.facebook)
                      span #{everyauth.facebook.user.name}
                    b.caret
                  ul.dropdown-menu
                    li
                      a(data-toggle="modal", href="#settingModal") Settings
                    li.divider
                    li
                      a(href="/logout") Logout
!= body